DISCORD_TOKEN=colle_ton_token_ici
CLIENT_ID=colle_l_application_id_ici
GUILD_ID=colle_l_id_de_ton_serveur_discord_ici
PDS_CHANNEL_ID=colle_l_id_du_salon_prise_de_service_ici
FDS_CHANNEL_ID=colle_l_id_du_salon_fin_de_service_ici
